# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/